{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Action": [
                "logs:CreateLogGroup",
                "logs:CreateLogStream",
                "logs:PutLogEvents"
            ],
            "Resource": "arn:aws:logs:*:*:*"
        },
        {
            "Effect": "Allow",
            "Action": [
                "s3:GetObject",
                "s3:PutObject",
                "s3:PutObjectAcl"
            ],
            "Resource": [ 
                 "arn:aws:s3:::{{ project }}-{{ deployment_group }}-input/*",
                 "arn:aws:s3:::{{ project }}-{{ deployment_group }}-output/*"
            ]
        },
        {
            "Effect": "Allow",
            "Action": [
                "kms:decrypt"
            ],
            "Resource": "arn:aws:kms:::key/aws/s3"
        },
        {
            "Effect": "Allow",
            "Action": [
                "sqs:GetQueueUrl",
                "sqs:SendMessage"
            ],
            "Resource": "arn:aws:sqs:*:*:{{ project }}-{{ deployment_group }}-job-q"
        },
        {
	            "Effect": "Allow",
	            "Action": [
	                "ecs:DescribeServices",
	                "ecs:UpdateService"
	            ],
	            "Resource": "arn:aws:ecs:*:*:service/{{ project }}-{{ deployment_group }}-cluster/{{ project }}-{{ deployment_group }}-service"
        }       
    ]
}
