{
  "Version": "2008-10-17",
  "Id": "{{ aws_account_id }}-{{ project }}-{{ deployment_group }}-s3put",
  "Statement": [
    {
      "Sid": "Default",
      "Effect": "Allow",
      "Principal": {
        "AWS": "*"
      },
      "Action": [
        "SNS:GetTopicAttributes",
        "SNS:SetTopicAttributes",
        "SNS:AddPermission",
        "SNS:RemovePermission",
        "SNS:DeleteTopic",
        "SNS:Subscribe",
        "SNS:ListSubscriptionsByTopic",
        "SNS:Publish",
        "SNS:Receive"
      ],
      "Resource": "arn:aws:sns:{{ aws_region }}:{{ aws_account_id }}:{{ project }}-{{ deployment_group }}-s3put",
      "Condition": {
        "StringEquals": {
          "AWS:SourceOwner": "{{ aws_account_id }}"
        }
      }
    },
    {
      "Sid": "Ansible",
      "Effect": "Allow",
      "Principal": {
        "Service": "s3.amazonaws.com"
      },
      "Action": "SNS:Publish",
      "Resource": "arn:aws:sns:{{ aws_region }}:{{ aws_account_id }}:{{ project }}-{{ deployment_group }}-s3put",
      "Condition": {
        "ArnLike": {
          "aws:SourceArn": "arn:aws:s3:*:*:{{ project }}-{{ deployment_group }}-input"
        }
      }
    }
  ]
}