{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Action": [
                "cognito-identity:*",
                "cognito-idp:*",
                "cognito-sync:*"
            ],
            "Effect": "Allow",
            "Resource": "*",
            "Sid": "AWSCognitoAdmin"
        }
    ]
}